.hidden{
    display: none;
}

/* delete */

 body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
 }

 ol, ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;   
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;    
}

/* common */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
   }  
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
   }  
}


/* header */
.page-header{
border-bottom: 1px solid #e7e9fc; 
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2E2F42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
  } 

    .header-nav {
    display: flex;
    align-items: center;
  }

    .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background: #404BBF;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link.current::after {
    opacity: 1;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404BBF;
  }

   .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

   .contact-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;   
    }

    .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

    .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* mobile menu */

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF; 

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav{
    margin-bottom: auto;
}

.modal-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    cursor: pointer;
}

.menu-nav-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.menu-nav-link{
    position: relative;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    padding: 72px 0;
    color: #2E2F42;
}

.menu-nav-link:hover,
.menu-nav-link:focus,
.menu-nav-link.current {
    color: #404BBF;
}

.mobile-menu-contacts {
    display: flex;
}

.menu-cont-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-cont-link {
    font-style: normal;
    display: block;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-cont-link:hover{
    color: #4D5AE5;
}

.menu-team-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0 16px;
}

.menu-icons-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 48px;
}

.menu-icons-link:hover,
.menu-icons-link:focus {
    background-color: #31d0aa;
}

.menu-team-icons .t-icons-f {
    fill: #f4f4fd;
}


@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
  }
}

/* flex wrap wrap for strategy ...
picture for mobile 
li est tin. v mobile
2 span for modal mobile
button v modal similar*/

/* section 1 */

.title {
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/title.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 1440px;
}

.title-name {
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    max-width: 160px;
    margin: 0 auto;
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.title .button {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    align-items: center;
    margin-top: 72px;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .title{
        padding: 112px 0;
    }
    .title-name {
            font-size: 56px;
            line-height: 1.07;
            margin-bottom: 48px;
            max-width: 496px;
    }

        .title .button {
            margin-top: 36px;
        }
}

@media screen and (min-width: 1158px) {
        .title {
        padding: 188px 0;
    }

        .title .button {
            margin-top: 48px;
        }
}

/* section 2 */

.benefits {
    padding: 96px 0 96px 0;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}

.benefits-subtitle {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;

}

 .benefits-item{
   /* padding: 0 0 72px 0; */
   flex-basis: 100%;
 }

.benefits-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.benefits-icons {
    display: none;
}

/* .benefits-item:last-child {
    padding-bottom: 0;
} */

@media screen and (min-width: 768px) {
    .benefits-item {
            flex-direction: column;
            flex-basis: calc((100% - 24px) / 2);
        }

        .benefits-list{
            justify-content: space-between;
        }

        .benefits-subtitle{
            text-align: start;
        }
}

@media screen and (min-width: 1158px){
    .benefits {
            padding: 120px 0;
        }

    .benefits-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;  
        }

     .benefits-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 112px;
            background-color: #f4f4fd;
            border-radius: 4px;
            border: 1px solid #8e8f99;
            margin-bottom: 8px;
        }
      .benefits-item {
            flex-basis: calc((100% - 72px) / 4);
        }
}


/* section 3 */
.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-title,
.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

 .team-item {
     background-color: #FFFFFF;
     border-radius: 0 0 4px 4px;
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 2px 1px rgba(46, 47, 66, 0.08);
        max-width: 264px;
 }

 .team-name {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2E2F42;
     margin-bottom: 8px;
 }

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-info {
    padding: 32px 0;
}

.team-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icons-list {
    width: 40px;
    height: 40px;
}

.link-icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icons:hover,
.link-icons:focus {
    background-color: #404bbf;
}

.team-icons .t-icons {
    fill: #f4f4fd;
}.team-icons{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-icons-list{
    width: 40px;
    height: 40px;
}
.link-icons{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icons:hover,
.link-icons:focus{
    background-color: #404bbf;
}
.team-icons .t-icons{
    fill: #f4f4fd;
}

@media screen and (min-width: 768px){
    .team-list {
            justify-content: center;
        }
    
        .team-item {
            flex-basis: calc((100% - 24px) / 2);
        }
}

@media screen and (min-width: 1158px){
    .team {
        padding: 120px 0;
    }
}

/* section 4 */
.portfolio {
    background-color: #FFFFFF;
    padding: 96px 0;
}

.portfolio-item img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay-text{
    display: none;
}

.container-img {
    position: relative;
    overflow: hidden;
    display: block;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; 
}

 .portfolio-item {
     background-color: #ffffff;
     margin-bottom: 48px;
     margin-right: 24px;
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }

 .portfolio-info {
     padding: 32px 16px;
     /* border: 1px solid #e7e9fc;
     border-top: none; */
 }

  .portfolio-name {
      font-size: 20px;
      line-height: 1.2;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: #2e2f42;
      margin-bottom: 8px;
      padding-bottom: 0;
  }

  .portfolio-category {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      letter-spacing: 0.02em;
      color: #434455;
      padding-top: 0;
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
          0px 1px 1px rgba(46, 47, 66, 0.16),
          0px 2px 1px rgba(46, 47, 66, 0.08);
  }

@media screen and (min-width: 768px){

}

@media screen and (min-width: 1158px){
.portfolio {
        padding: 120px 0;
    }


.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}
  .portfolio-item:nth-child(3n) {
      margin-right: 0;
  }

  .portfolio-item:nth-last-child(-n+3) {
      margin-bottom: 0;
  }
.overlay-text {
            position: absolute;
            top: 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            background-color: #4d5ae5;
            padding: 40px 32px;
            height: 100%;
            width: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }

        .portfolio-item{
            width: calc((100% - 48px) / 3);
        }
}